
@media only screen and (max-device-width: 600px) {
/* .menu { width:50%; } */
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: ##000;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

.logo {
	position: absolute;
	height: 90px;
	width: 90px;
	top: 90px;
	left: 65px;
	
	
}
.ilustracao{
	position: relative;
	left: auto;
	right: auto;
	
	
	vertical-align: center;
	
	
	
}

.space {
	height: 10px;
	
}
li.space {
	height: 20px;
	top: 20px;
	
}
section {
  padding: 9px 0;
  overflow: hidden;
  
}



.section-bg {
  background-color: #f3f5fa;
  box-shadow: 3px 1px 1px black;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
  background-color: #363636;
}
.section-title a {
	font-size: 22px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	
	letter-spacing: 0.1px;	
	color: #37517e;
	
}
.section-title h1 {
	text-align: right;
	padding-right: 10px;
	padding-bottom: 3px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: white;
}



.section-body {
	text-align: center;
	padding-bottom: 1px;
	background-color: #f3f5fa;
  
}

.section-body content{
	line-height: 1px;
}
.center{
	text-align: center;
	line-height: 2px;
}
.container {
	text-align: center;
	font-family: "Jost", sans-serif;
	
}
#expanded {
	text-align: justify;
	padding: 20px 40px 0 290px;
	heigth: 660px;
}
#white {
	text-align: justify;
	padding: 20px 40px 0 290px;
	height: 360px;
	
		
}

#left-block {
	position: absolute;
	left: 8px;
	top: 177px;
	width: 15%;
	height: 758px;
	background-color: #363636;
	
}
#left-block1 {
	position: absolute;
	left: 8px;
	top: 177px;
	width: 15%;
	height: 475px;
	background-color: #363636;
	
}
#left-side {
	position: fixed;
	left: 8px;
	top: 177px;
	width: 15%;
	height: 400px;
	background-color: #363636;
	

	
}


#white-rabbit {
	color: white;
	text-align: center;
	
	
}
#snow {
	color: white;
	
}  
#left-side-content {
	position: absolute;
	left: 20px;
	right:20px;
	top: 20px; 
	width:  80%;
	height: 95%;
	background-color: #4f4f4f;
	
	
}


.box {
  display: block;
  position: fixed;
  height: 25px;
  background: #363636;
  border: 1px;
  top: 5px;
  text-transform: uppercase;
  text-align: center;
  
  
}
.box a {
	position: relative;
	color: white;
	font-weight: bold;
	top: 3px;
	text-decoration: none;
	
}                      

.box:hover a:not(.fake-box){
	color: black;
	
}
.box:hover:not(#eu){
	background: rgba(255, 255, 255, 0.08);
	
	
	
	
	
}
.menu {
	font-family: "Open Sans", sans-serif;
	color: #444444;
	background-color: ##000;
	
}	
#eu {
	position: absolute;
	left: 8px;
	top: 10px;
	width: 658px;
	
}	
	

#box1 {
	position: absolute;
	left: 667px;
	top: 10px;
	width: 110px;
	
}

#box2 {
	position: absolute;
	left: 778px;
	top: 10px;
	width: 120px;
}
#box3 {
	position: absolute;
	left: 899px;
	top: 10px;
	width: 308px;
}
#box4 {
	position: absolute;
	left: 1208px;
	top: 10px;
	width: 150px;
}
#box5 {
	position: absolute;
	left: 1208px;
	top: 10px;
	width: 10%;
}
